.direnv
*__pycache__
*generate_*.py
*drafts
*colab
*chunk_*.txt
*.chroma
*.pytest_cache
*models
*data
*wandb
*videos
*logs
secrets.toml
*attn_only_2L_half.pth
*othello_world*
*Grokking
*interp_on_model*.ipynb
*other_solns
*gitignore
*.vscode
*part4_rlhf2
*stats.md
chapter1_transformers/instructions/media/media
my_regex.py
october23_duplicate_zeros
december23_marbles
december23_arena